#page-wrapper {
    width: 100%;
}
#menu {
    font-size: 17px;
}
.slider.slider-horizontal{
  width:100%;
}
.navbar-nav  li  a {
   line-height: 40px;
   margin-bottom: 0px;
   padding-bottom: 0px;
}
.inc_positive {
    font-weight: bold;
    color: green;
}
.inc_negative {
    font-weight: bold;
    color: red;
}

.log_ok {
    font-weight: bold;
    color: #06BB16;
}
.log_error  {
    font-weight: bold;
    color: red;
}
.kpi-increase {
    font-weight: bold;
    color: #06BB16;
}
.kpi-decrease {
    font-weight: bold;
    color: red;
}

.panel-login {
    position: absolute;
    width: 350px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: rgba(255,255,255,1);
}

.container-login {
    height: 100%;
    width: 100%;
    background-image: url("../img/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
