#page-wrapper {
    width: 100%;
}
#menu {
    font-size: 17px;
}
.slider.slider-horizontal{
  width:100%;
}
.navbar-nav  li  a {
   line-height: 40px;
   margin-bottom: 0px;
   padding-bottom: 0px;
}
