{% extends "base.html" %}
{% block scripts %}
    <script language="javascript">

        function last_month() {
            document.getElementById("date_ini").value = "{{start_previous_month}}";
            document.getElementById("date_fin").value = "{{end_previous_month}}";
        }

        function last_week() {
            document.getElementById("date_ini").value = "{{start_previous_week}}";
            document.getElementById("date_fin").value = "{{end_previous_week}}";
        }

        function yesterday() {
            document.getElementById("date_ini").value = "{{yesterday}}";
            document.getElementById("date_fin").value = "{{yesterday}}";
        }

        function today() {
            document.getElementById("date_ini").value = "{{today}}";
            document.getElementById("date_fin").value = "{{today}}";
        }

    </script>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info">
              <div class="panel-heading">
                Call center > Rentiment per extensió
              </div>
              <div class="panel-body">
                <div class="row">
                    <div class="col-md-10">
                    <form action="ccrpe" method="POST" id="form_range">{% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label class="control-label">Data inici:</label>
                            <div class="input-group datepick">
                               <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </div>
                                <input type="text" class="form-control" name="date_ini" id="date_ini" placeholder="trii en el calendari"  value="{{date_ini}}" readonly>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label">Data final:</label>
                            <div class="input-group datepick">
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </div>
                                <input type="text" class="form-control" name="date_fin" id="date_fin" placeholder="trii en el calendari" value="{{date_fin}}" readonly>
                            </div>
                        </div>
                    </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <input type="submit" id="btnsubmit" value="generar gràfica" class="btn btn-primary"/>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="monthfinal">Accessos directes:</label>
                                <button class="btn" onclick="javascript:today()">Avui</button>
                                <button class="btn" onclick="javascript:yesterday()">Ahir</button>
                                <button class="btn" onclick="javascript:last_week()">Última setmana</button>
                                <button class="btn" onclick="javascript:last_month()">Últim mes</button>
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
                <div class="row">
                    <h2>Anàlisi entre el {{date_ini}} i el {{date_fin}}</h2>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                Dades per extensió
                            </div>
                            <div class="panel-body">
                                <table class="table table-striped table-hover table-dataTable">
                                    <thead>
                                        <th class="text-center">Extensió</th>
                                        <th class="text-center">Contestades</th>
                                        <th class="text-center">Temps al telefon</th>
                                        <th class="text-center">Temps per trucada</th>
                                    </thead>
                                <tbody>
                                    {% for extension in table_data %}
                                        <tr>
                                            <td class="text-center">{{extension.extension}}</td>
                                            <td class="text-center">{{extension.answered}}</td>
                                            <td class="text-center">{{extension.spoken_time}} h</td>
                                            <td class="text-center">{{extension.time_per_call}} m</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                {% for plot in plots %}
                    <div class="row">
                        {{ plot|safe}}
                    </div>
                {% endfor %}
            </div>
            <div class="panel-footer">
            </div>
        </div>
    </div>
{% endblock %}
