{% extends "base.html" %}
{% load tag_library %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    KPI_01: Indicadors generals
                </div>
                <div class="panel-body">
                    <!-- Manually constructed table because django template doesn't have a wait to loop throw a matrix like this: cell.x.y -->
                    <!-- TODO: Search for alternatives -->
                    <table class="table table-responsive">
                        <thead>
                            <th></th>
                            {% for index, row in kpi_dict.header.items %}
                                <th>{{row|to_yyyy_monthname}}</th>
                            {% endfor %}
                        </thead>
                        <tbody>
                            {% for index, row in kpi_dict.kpis.items %}
                                <tr>
                                    <td>{{index}}</td>
                                    {% for cell in row %}
                                        {% if cell.inc|to_int > 0 %}
                                            <td><span class='kpi-increase'>{{cell.value}}&nbsp;({{cell.inc}} <i class="fas fa-arrow-up"></i>{% widthratio cell.inc cell.value 100 %}%)</span></td>
                                        {% else %}
                                            <td><span class='kpi-decrease'>{{cell.value}}&nbsp;({{cell.inc}}  <i class="fas fa-arrow-down"></i>{% widthratio cell.inc cell.value 100 %}%)</span></td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    KPI_02: Repetitivitat Medicina General
                </div>
                <div class="panel-body">
                    {{plot_rep_med_gen|safe}}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    KPI_03: Repetitivitat Fisioterapia
                </div>
                <div class="panel-body">
                    {{plot_rep_endos|safe}}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    KPI_04: Evolució pacients
                </div>
                <div class="panel-body">
                    {{plot_patients|safe}}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    KPI_05: Evolució nous pacients
                </div>
                <div class="panel-body">
                    {{plot_new_patients|safe}}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    KPI_06: Distribució pacients
                </div>
                <div class="panel-body">
                    {{plot_distribution_new_patients|safe}}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    KPI_07: Distribució nous pacients per especialitat (mes anterior)
                </div>
                <div class="panel-body">
                    {{plot_distribution_new_patients_per_spec|safe}}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    KPI_: Agendes
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-hover table-dataTable">
                        <thead>
                            <th class="text-center">Agenda</th>
                            <th class="text-center">Visites {{v_last_month}}</th>
                            <th class="text-center">Visites {{v_previous_month}}</th>
                            <th class="text-center">Variació mensual</th>
                            <th class="text-center">Visites {{v_last_month_last_year}}</th>
                            <th class="text-center">Variació anual</th>
                        </thead>
                    <tbody>
                        {% for agenda in kpi_agendes %}
                            <tr>
                                <td class="text-center">{{agenda.name}}</td>
                                <td class="text-center">{{agenda.visites}}</td>
                                <td class="text-center">{{agenda.visites_mes_anterior}}</td>
                                {% if agenda.inc_mensual >= 0 %}
                                    <td class="text-center"><span class="inc_positive">{{agenda.inc_mensual}}%</span></td>
                                {% else %}
                                    <td class="text-center"><span class="inc_negative">{{agenda.inc_mensual}}%</span></td>
                                {% endif %}
                                <td class="text-center">{{agenda.visitesUltimAny}}</td>
                                {% if agenda.inc >= 0 %}
                                    <td class="text-center"><span class="inc_positive">{{agenda.inc}}%</span></td>
                                {% else %}
                                    <td class="text-center"><span class="inc_negative">{{agenda.inc}}%</span></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

