{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-info">
              <div class="panel-heading">
                KPI_01: Assistencia
              </div>
              <div class="panel-body">
                <table width='100%' class='table table-responsive'>
                    <tbody>
                    <tr>
                        <td>Total visites:</td>
                        <td>{{v_visits_total}}</td>
                    </tr>
                    <tr>
                        <td>Visites 2019:</td>
                        <td>{{v_visits_current_year}}</td>
                    </tr>
                    <tr>
                        <td>Visites 2018:</td>
                        <td>{{v_visits_last_year}}</td>
                    </tr>
                </tbody>
                </table>

              </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-info">
              <div class="panel-heading">
                KPI_02: Pacients
              </div>
              <div class="panel-body">
                <table width='100%' class='table table-responsive'>
                    <tbody>
                    <tr>
                        <td>Total pacients:</td>
                        <td>{{v_patients_total}}</td>
                    </tr>
                    <tr>
                        <td>Pacients 2019:</td>
                        <td>{{v_patients_current_year}}</td>
                    </tr>
                    <tr>
                        <td>Pacients 2018:</td>
                        <td>{{v_patients_last_year}}</td>
                    </tr>
                </tbody>
                </table>

              </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-info">
              <div class="panel-heading">
                KPI_03: Fidelització
              </div>
              <div class="panel-body">
                <table width='100%' class='table table-responsive'>
                    <tbody>
                    <tr>
                        <td>Total repetitivitat:</td>
                        <td>{{v_fidelity_total}}</td>
                    </tr>
                    <tr>
                        <td>Repetitivitat 2019:</td>
                        <td>{{v_fidelity_current_year}}</td>
                    </tr>
                    <tr>
                        <td>Repetitivitat 2018:</td>
                        <td>{{v_fidelity_last_year}}</td>
                    </tr>
                </tbody>
                </table>

              </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    KPI_04: Repetitivitat Medicina General
                </div>
                <div class="panel-body">
                    {{plot_rep_med_gen|safe}}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    KPI_05: Repetitivitat Fisioterapia
                </div>
                <div class="panel-body">
                    {{plot_rep_endos|safe}}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    KPI_06: Evolució pacients
                </div>
                <div class="panel-body">
                    {{plot_patients|safe}}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    KPI_07: Evolució nous pacients
                </div>
                <div class="panel-body">
                    {{plot_new_patients|safe}}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    KPI_08: Distribució pacients
                </div>
                <div class="panel-body">
                    {{plot_distribution_new_patients|safe}}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    KPI_09: Distribució nous pacients per especialitat (mes anterior)
                </div>
                <div class="panel-body">
                    {{plot_distribution_new_patients_per_spec|safe}}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    KPI_10: Agendes
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-hover table-dataTable">
                        <thead>
                            <th class="text-center">Agenda</th>
                            <th class="text-center">Visites {{v_last_month}}</th>
                            <th class="text-center">Visites {{v_previous_month}}</th>
                            <th class="text-center">Variació mensual</th>
                            <th class="text-center">Visites {{v_last_month_last_year}}</th>
                            <th class="text-center">Variació anual</th>
                        </thead>
                    <tbody>
                        {% for agenda in kpi_agendes %}
                            <tr>
                                <td class="text-center">{{agenda.name}}</td>
                                <td class="text-center">{{agenda.visites}}</td>
                                <td class="text-center">{{agenda.visites_mes_anterior}}</td>
                                {% if agenda.inc_mensual >= 0 %}
                                    <td class="text-center"><span class="inc_positive">{{agenda.inc_mensual}}%</span></td>
                                {% else %}
                                    <td class="text-center"><span class="inc_negative">{{agenda.inc_mensual}}%</span></td>
                                {% endif %}
                                <td class="text-center">{{agenda.visitesUltimAny}}</td>
                                {% if agenda.inc >= 0 %}
                                    <td class="text-center"><span class="inc_positive">{{agenda.inc}}%</span></td>
                                {% else %}
                                    <td class="text-center"><span class="inc_negative">{{agenda.inc}}%</span></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
